#main{
	width: 60%;
	height: 100%;
	margin-left: 10%;
	background-color: #0f385a;
	padding:1em;

}
form{
	background-color:#1f758b;
	padding:1em;
	font-family: 'Philosopher', sans-serif;

}
body{
	text-align: center;
	font-family: 'Galada', cursive;
	background-color:#011c31;
	color: white;
}
.text-muted{
	margin-left:20em;
	color: white !important;
}


.contain{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;

}
.btn{
	background-color: blue;
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	
	}.btn:hover {
		background-color: white;
		color: black;
		border: 2px solid #4CAF50;
	}
